* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
.container-fluid{
	padding: 0;
}
.topmenu {
	color: #005e9e;
	background-color: #005e9e;
	z-index: 1001;
}

.navbar {
	padding: 0;
	margin-bottom: 0;
	max-height: 40px;
	min-height: 40px;
	font-size: 14px;
	font-weight: 450;
}

.top-menu-left ul {
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0;
	overflow: hidden;
}

.top-menu-left li {
	float: left;
	display: block;
	position: relative;
}

.top-menu-left li a {
	color: #6bc3ff;
	padding: 10px 9px;
	text-decoration: none;
	line-height: 20px;
	display: block;
	position: relative;
}

.top-menu-left li a:hover {
	color: #ffffff;
}

.top-menu-left li.active:before {
	position: absolute;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #005e9e;
	bottom: -7px;
	left: calc(50% - 5px);
	z-index: 1;
}

.top-menu-left li.active a {
	color: #ffff;
}

.middle {
	margin-left: 80px;
}

.top-menu-right {
	list-style-type: none;
	overflow: hidden;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}

.top-menu-right li {
	float: left;
	display: block;
	background-color: #00538b;
	width: 50px;
	text-align: center;
}

.top-menu-right li a {
	padding: 10px 10px;
}

.right-line {
	border-right: 2px solid #005e9e;
}

.top-menu-right .mdi {
	font-size: 23px;
	color: #ffffff;
	vertical-align: middle;
}

.bottom-menu {
	position: relative;
	background-color: #fff;
	box-shadow: 0.5px 0.87px 3px 0 rgba(0, 0, 0, .35);
}

.bottom-menu div {
	display: inline-block;
}

.logo {
	margin-left: 80px;
	padding: 10px 9px;
	display: inline-block;
}

.bottom-menu ul {
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 0px 0px 2px;
	margin: 0;
}

.bottom-menu ul>li {
	float: left;
	display: block;
	padding-right: 30px;
}

.bottom-menu ul>li:last-child {
	padding-right: 2px;
}

.bottom-menu ul>li>a {
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 14px;
	font-weight: 450px;
}

.bottom-menu ul>li>a:hover {
	color: #d41f29;
}

.bottom-menu .mdi {
	font-size: 20px;
	vertical-align: middle;
	color: #999999;
}

.contact-info .mdi {
	background-position: -24px -62px;
	font-size: 15px;
	vertical-align: top;
	color: #ffffff;
}

.phone-icon {
	background-color: #a3b2bd;
	border-radius: 50%;
}

.mdi-phone,.mdi-link-variant {
	padding: 1px 4px;
}

.contact-info {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.contact-info a {
	color: #d51d25;
	font-weight: 600;
	vertical-align: top;
	font-size: 16px;
}

.contact-info p {
	vertical-align: top;
	line-height: 10px;
	padding-left: 22px;
	margin-bottom: 0;
}

.contact-info p.buy-info {
	padding: 0px 0px 5px 5px;
}

.search {
	position: absolute;
	right: 0;
	margin-right: 0;
}

.search ul {
	list-style-type: none;
	overflow: hidden;
	vertical-align: middle;
}

.search ul>li {
	padding-right: 0;
}

.left-border {
	border-left: 1px solid #ebf3f9;
	padding: 7px;
	cursor: pointer;
}

.search .left-border .mdi {
	vertical-align: middle;
	font-size: 38px;
	color: #3e47c9;
}

.link-block a {
	background: #69d3ff;
	padding: 21px 10px;
	font: 14px;
	font-weight: 400;
	width: 136px;
	display: block;
}

.link-block .mdi {
	color: #000000;
	vertical-align: middle;
	margin-left: 10px;
}

.search ul> li.click-button {
	background: #f1f1f1;
	position: relative;
}

.search ul >li.click-button span {
	color: #00f;
	text-align: center;
	display: block;
	width: 97%;
	line-height: 15px;
	margin-top: 10px;
	font-size: 13px;
}

.search ul > li.click-button > a {
	padding: 2px 12px;
	font-size: 12px;
	color: red;
	width: 80%;
	display: block;
	margin: 6px auto;
	border-radius: 0;
	font-weight: 700;
	background: #fff;
}

.rhs-nav {
	position: fixed;
	right: 0;
	top: 130px;
	z-index: 1000;
	margin-right: 5px;
}

ul.icons-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.icons-list li {
	height: 70px;
	width: 65px;
	background: #fff;
	border: 1px solid #05396d;
	text-align: center;
	padding: 0;
	cursor: pointer;
	position: relative;
	margin-bottom: 3px;
	box-shadow: 0 0 4px 0 #4d4b4b;
	line-height: 1;
}

ul.icons-list li a {
	position: relative;
	color: #05396d;
	background: 0 0;
	font-weight: 600;
	font-size: 13px;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
}

ul.icons-list li a:hover {
	text-decoration: none;
}

.icons-list .mdi {
	font-size: 30px;
	display: block;
	margin: auto;
	padding: 0;
	vertical-align: middle;
	color: #0e4072;
}

.bg-image {
	background-size: cover;
	height: 320px;
	margin-bottom: 0;
	box-shadow: 0.5px 3px 5px 1px #ccc;
}

.caption {
	background: rgba(255, 255, 255, .8);
	height: 320px;
	padding: 40px;
	position: relative;
}

.caption:before {
	position: absolute;
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-top: 8px solid #d41d24;
	border-right: 8px solid #d41d24;
	right: 20px;
	top: 20px;
}

.caption:after {
	position: absolute;
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-left: 8px solid #d41d24;
	border-bottom: 8px solid #d41d24;
	left: 20px;
	bottom: 20px;
}

.title {
	font-size: 21px;
	font-weight: 700;
}

.title-blue {
	color: #05396e;
}

.title-red {
	color: #d51d25;
}

.line {
	border-bottom: 2px solid #e1e1e1;
	margin: 10px 0;
}


.bottom {
	width: 100%;
	box-shadow: 2px 0 9px 0 #ccc;
	padding: 10px 5px 5px;
}

.blue-wrap {
	display: flex;
	background-color: #eaf7fd;
	padding: 6px;
	border-radius: 16px;
	max-width: 500px;
	margin: 5px auto;
	justify-content: center;
	align-items: center;
}

.aim-title {
	color: #000;
	font-size: 24px;
	font-weight: 600;
	margin: 0 10px;
}

.select-wrap {
	border: 1px solid #ccc;
	border-radius: 0;
	background-color: #fff;
	position: relative;
}

.select-style {
	outline: 0;
	padding: 0 70px 0 5px;
	border: 0;
	font-size: 14px;
	font-weight: 600;
	height: 38px;
	line-height: 20px;
	width: 100%;
	color: #000;
}

.select-wrap .mdi {
	width: 10px;
	height: 6px;
	background-position: -174px -88px;
	position: absolute;
	right: 14px;
	top: -4px;
	display: inline-block;
	font-size: 30px;
	color: #da251c;
}

.blue-wrap .btn {
	border-radius: 16px;
	margin: 0 12px;
	padding: 9px 24px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.plans-list {
	margin-top: 35px;
	text-align: center;
	padding: 10px 0 0;
}

ul.term-plans {
	list-style-type: none;
}

ul.term-plans li {
	display: inline-block;
}

ul.term-plans li.active-plan {
	border: 2px solid #d41d24;
}

ul.term-plans li a {
	display: block;
	padding: 10px 20px;
	min-width: 108px;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	position: relative;
}

li.active-plan>a:after {
	position: absolute;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #d41d24;
	bottom: -12px;
	left: calc(50% - 10px);
}

.img-plan img {
	text-align: center;
	height: 48px;
}

.img-plan {
	margin-top: 15px;
}

.click-tabs {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	width: 900px;
	margin-top: 30px;
}

.click-tabs > p {
	text-align: center;
	padding: 10px 60px;
	cursor: pointer;
	margin: 0;
	font-size: 13px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.active-click-tab {
	width: 300px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-color: rgb(0, 94, 158);
	background: rgb(0, 94, 158);
	color: rgb(255, 255, 255);
	position: relative;
}

.active-click-tab-pin{
	position: absolute;
    bottom: -20px;
    border-top: 10px solid #005e9e;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 45%;
}
.open-tab{
	margin-top: 45px;
	margin-bottom: 30px;
}
.open-tab-left h2{
    font-size: 27px;
    font-weight: 640;
}
.open-tab-left p{
	font-size: 14px;
	margin-bottom: 10px;
}
.open-tab-left ul{
	font-size: 14px;
	margin-left: 17px;
	padding: 0;
}
.open-tab-right{
	font-size: 13px;
	border: 1px solid #ccc;
}
.open-tab-right a{
    color: #000000;
    text-decoration: none;
}
.open-tab-right .mdi{
	font-size: 20px;
	vertical-align: middle;
	color: #d51d25;
	margin-right: 5px;
}
.brochure-wrap{
	padding: 33px 15px 5px 25px;
}
.open-tab-line{
	 border-bottom: 1px solid #e1e1e1;
	 padding: 0px 10px;
	 margin: 0px 10px;
}
.customer-wrap{
	padding: 5px 20px 60px;
}
.buttons{
	display: flex;
}
.buttons .btn {
	width: 100%;
    padding: 10px 12px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
}

a.btn1 {
	background-color: #fff;
    color: #d51d25;
    border-color: #d7e8f4;
}

.buttons a.btn1:hover {
	border-top:1px solid #d51d25;
	color: #d51d25;
}
a.btn2{
	background-color: #d51d25;
    color: #fff;
    border-color: transparent;
}
a.btn2:hover{
	color: #fff;
}
.background-wrap{
	background-color: #f0f0f0;
}
.heading{
	text-align: center;
	color: #05396e;
	margin-bottom: 25px;
	padding-top: 25px;
	font-weight: 600;
	font-size: 38px;
}
.text-red{
	color: #d51d25;
}
.things-list ul{
	max-width: 700px;
    margin: 0 auto;
	border-radius: 0px;
}
.things-list ul li{
	padding: 10px 40px;
}
.things-list >ul>li>a{
	color: #798791;
	text-decoration: none;
}
.awards-wrap ul{
	max-width: 395px;
}
.awards-wrap ul>li>a{
	font-size: 13px;
}
li.item1{
	background: rgb(0, 94, 158);
}
li.item2{
	background: rgb(0, 94, 158);
}
li.item3{
	background: rgb(0, 94, 158);
}
li.item4{
	background: rgb(0, 94, 158);
}
li.item5{
	background: rgb(0, 94, 158);
}
.tab-content{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}
.right-content{
	padding: 15px 25px;
}
.right-content h6{
    color: #05396e;
    font-size: 18px;
    font-weight: 600;
}
.right-content p{
	font-size: 14px;
}
.red-button{
	text-align: center;
    margin: 40px 0 0;
    padding-bottom: 40px;
}
.red-button a{
	background-color: #d51d25;
	color: #ffffff;
	padding: 6px 30px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
.claims-p{
	width: 850px;
	margin: auto;
	text-align: center;
	color: #878787;
	font-size: 16px;
	line-height: 20px; 
}
.claim-wrap{
	width: 800px;
	margin: 30px auto;
}
.claim-wrap .col-sm-6{
	text-align: center;
}
.claim-wrap .col-sm-6 img{
	width: 109px;
    height: 109px;
}
.claim-wrap .col-sm-6 h6{
	font-weight: 600;
	line-height: 1.7;
	font-size: 17px;
}
.claim-wrap .col-sm-6 a{
	text-decoration: underline;
    color: #005e9e;
}
.claim-buttons{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.claim-buttons a.btn{
	border-radius: 0px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 500;
	padding: 5px 25px;
}
.claim-buttons a.btn1:hover{
	border-color: #d51d25;
	color: #d51d25;
}
.small-text{
	text-align: right;
	font-size: 11px;
	padding: 15px 15px;
    color: #878787;
}
.customer-speak-wrap{
	margin: auto;
}
.customer-speak-wrap .mdi{
	font-size: 60px;
	color: #80d7fc;
	padding: 0px 140px;
}
.cus-text p{
	color: #1A6EA7;
    text-align: center;
    margin-left: 0;
    font-size: 16px;
    height: 80px;
}
.date-text{
	line-height: 0.3;
	margin-top: 50px;
	text-align: center;
	font-size: 14px;
	color: #444;
}
.about-wrap{
	text-align: center;
	padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 20px;
}
.about-wrap p{
	color: #4b4b4b;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    line-height: 20px;
}
.value-wrap{
	padding: 20px 0;
}
.value-heading{
	color: #404040;
	font-size: 12px;
	text-align: center;
}
.value-text{
	padding: 0 80px;
    border-right: 1px solid #ccc;
    text-align: center;
}
.bottom-line{
	background: #ccc;
    width: 60px;
    height: 5px;
    display: block;
    margin: 12px auto;
}
.value-text h2{
	color: #d51d25;
    font-weight: 400;
    margin-top: 25px;
    line-height: 25px;
    font-size: 28px;
}
.value-text h4{
	font-weight: 400;
    font-size: 15px;
    color: #005e9e;
    line-height: 30px;
}
.value-text p{
	color: #666;
	font-size: 13px;
}
.section-2{
    width: 900px;
    margin: auto;
}
.no-border{
	border-right: 0px;
}
.awards-active-tab{
	position: relative;
	margin-top: 90px;
}
.awards-active-tab .awards-mdi .mdi{
	font-size: 50px;
	vertical-align: middle;
	color: #70d0f6;
}
.awards-active-tab .awards-mdi{
	border: 1px solid #eee;
    text-align: center;
    margin: 0 0 0 -30px;
    width: 70px;
    height: auto;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 50%;
    box-shadow: 2px 0 9px 0 #ccc;
}
.awards-row-wrap{
	background-color: #ffffff;
	padding: 40px 40px 10px;
	width: 1100px;
}
.awards-row-wrap .row{
	width: 800px;
	margin: auto;
}
.awards-row-wrap .col-sm-4{
    padding: 0px 16px;;
}
.awards-row-wrap h4{
	color: #337ab7;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 700;
}
.ex-pad{
	margin: 80px 0 0;
	padding-bottom: 80px;
}
.know-wrap ul{
	max-width: 1100px;
}
.know-wrap ul>li{
	padding: 10px 69px;
}
.know-wrap ul>li:last-child{
	padding: 3px 10px;
	font-size: 25px;
}
.know-wrap-row{
	margin-top: 60px;
}
.know-link{
	padding: 0px 55px 40px 0px;
}
.know-wrap-row .know-link > a{
	font-size: 19px;
	width: 100px;
    line-height: 24px;
    color: #005e9e;
    text-decoration: none;
    font-weight: 600;
}
.know-wrap-row .know-p{
	padding: 0px 22px 0 0;
}
.know-wrap-row .know-p p{
	padding-top: 15px;
	color: #798791;
	font-size: 14px;
	font-weight: 500;
}
.know-footer{
	border: 1px solid #eaedef;
	padding: 10px;
	margin-right: 20px;
}

.know-footer>div{
	display: inline-block;
	vertical-align: middle;
}
.know-footer div:first-child{
    margin-right: 10px;
    font-size: 11px;
    color: #798791;
    font-weight: 400;
}
.know-footer div.count{
	font-size: 18px;
    color: #64737B;
    font-weight: 500;
}
.know-footer div:last-child{
	float: right;
	border: 1px solid #eaedef;
}
.know-footer div:last-child .mdi{
    font-size: 20px;
    padding: 8px;
    color: #005e9e;
}
.how-can-we{
	padding: 55px 0;
    background: #005e9e;
    border-top: 5px solid #05396e;
}
.how-can-we h3{
	font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto 30px;
    text-align: center;
    padding: 0;
    font-size: 18px;
}
.help-img{
	margin-left: 70px;
}
.help-img img:first-child{
	margin-bottom: 25px;
}
.apps-img{
	margin-left: 60px;
}
.apps-img img{
	margin-top: 30px;
}
.plans-lists{
	margin-top: 50px;
	margin-left: 50px;
}
.no-pad{
	padding: 0;
}
.plans-lists ul{
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px 0;
}
.plans-lists h4{
	color: #05396e;
	font-size: 20px;
	padding: 25px 0;
}
.plans-lists ul>li{
	color: #005e9e;
	font-size: 14px;
	line-height: 2;
}
.col-sm-1{
	border-left: 1px solid #ccc;
}
.vert-line ul>li{
   line-height: 3.5;
}
.links-list{
	margin-top: 50px;
	padding-top: 30px;
	padding-left: 80px;
}
.links-list h6{
   color: #1a6ea7;
    font-weight: 600;
    font-size: 14px;
}
.links-list .col-sm-10{
	line-height: 1;
}
.links-list .col-sm-2{
	margin-top: -12px;
}
.links-list a{
   color: #025296;
   font-size: 13px;
   text-decoration: none;
   border-right: 1px solid #798791;
   padding-right: 5px;
}
.links-list .btn{
	padding: 0px 25px;
	border-radius: 0px;
	margin-bottom: 15px;
}
.links-list .btn .mdi{
	font-size: 25px;
}
.end-p{
	font-size: 14px;
	margin-top: 20px;
	padding: 0px 80px; 
}
.end-box{
    border: 1px solid #000;
    text-align: center;
}











@media screen and (max-width:992px) {
	.logo img {
		width: 50px;
	}

	.navbar {
		font-size: 11px;
		margin: 0;
		max-height: 100%;
	}

	.top-menu-left {
		padding: 0;
		margin: 0;
	}

	.top-menu-left li a {
		padding: 10px 5px;
	}

	.middle {
		margin-left: 0px;
	}

	.logo {
		margin-left: 0px;
	}

	.bottom-menu ul>li {
		padding-right: 15px;
	}

	.contact-info {
		display: block;
		margin-left: 300px;
		margin-bottom: 15px;
	}

	.search li.link-block {
		padding-right: 0px;
	}

	li.link-block a {
		padding: 18px 10px;
	}

	.search ul >li.click-button span {
		line-height: 12px;
	}

	.rhs-nav {
		top: 180px;
		margin-right: 15px;
	}

	.bg-image {
		background-size: 130% 100%;
		background-repeat: no-repeat;
	}

	.top-menu-right {
		margin-bottom: 0
	}

	.top-menu-right li {
		width: 20px;
		height: 20px;
	}

	.top-menu-right li a {
		padding: 5px 2px;
	}

	.top-menu-right .mdi {
		font-size: 15px;
	}

}

@media screen and (max-width:600px) {
	.logo img {
		width: 50px;
	}

	.top-menu-left li a {
		padding: 5px 6px;
	}

	.top-menu-right {
		margin-left: 300px;
		margin-bottom: 5px;
	}

	.bottom-menu ul>li {
		padding-right: 10px;
	}

	.contact-info {
		margin-left: 0px;
		margin-top: 5px;
	}

	.contact-info a {
		font-size: 14px;
	}

	.contact-info p {
		font-size: 12px;
	}

	.search .left-border .mdi {
		font-size: 25px;
		padding-left: 0px;
		margin-left: 0px;
	}

	.search .link-block a {
		width: 90px;
		font-size: 12px;
		padding: 10px 0px;
	}

	.search li.left-border {
		padding-right: 0px;
	}

	.link-block .mdi {
		margin-left: 0px;
	}

	.rhs-nav {
		top: 290px;
		margin-right: 5px;
	}

	ul.icons-list li {
		height: 57px;
		width: 63px;
	}

	ul.icons-list li a {
		font-size: 12px;
	}

	.icons-list .mdi {
		font-size: 22px;
	}

	.contact-info .mdi {
		font-size: 12px;
	}

	.search ul >li.click-button span {
		margin-top: 2px;
	}

	.search ul > li.click-button > a {
		margin: 3px auto;
		padding: 1px;
	}

	.bg-image {
		height: 270px;
		background-size: 130% 100%;
	}

	.caption {
		height: 270px;
	}

	.title {
		font-size: 18px;
		width: 250px;
	}

	.aim-title {
		font-size: 14px;
	}

	.select-style {
		font-size: 12px;
		padding: 0 0 0 5px;
	}

	.select-wrap .mdi {
		width: 2px;
		right: 22px;
		top: -3px;
	}

	.blue-wrap .btn {
		padding: 6px 14px;
	}

}
